Repository marco79423/mysite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-backend

build-frontend:
  stage: build
  before_script:
  - docker --version
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - BACKEND_SERVER_URL=/backend
  script:
  ...

build-backend:
  stage: build
  before_script:
  - docker --version
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - apk update && apk add -U git
  - STATIC_URL=/backend/static/
  - REPO_VERSION=`git describe --tags`
  script:
  ...

fix: 文章
  content/articles/隨手記 - K8s 的憑證問題解決/隨手記 - K8s 的憑證問題解決.rst
  frontend/lib/fetchJSON.js
Due: build-frontend, build-backend

v1.16.14
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

feat: 調整 style
  frontend/components/elements/generic/RstContent/RstContent.js
Due: build-frontend

v1.16.15
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

chore: 調整 node 的版本
  frontend/Dockerfile
Due: build-frontend

v1.16.16
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

chore: update Python version, dependencies, and Flask API usage
  backend/Dockerfile
  backend/requirements.txt
  backend/src/imports/applications/server/routes/blog_backend.py
Due: build-backend

chore: update frontend dependencies to latest versions, including Next.js, Emotion, and Axios
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

chore: remove debug console log from fetchJSON function
  frontend/lib/fetchJSON.js
Due: build-frontend

chore: update URLs for 啪唧工具包 references
  content/articles/隨手記 - 重新開始/隨手記 - 重新開始.rst
  frontend/config/index.js
Due: build-frontend, build-backend

v1.17.0
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

chore: update references to new blog domain and upgrade frontend dependencies
  .github/workflows/build-and-deploy-backend-image.yml
  README.md
  content/articles/mat 代理伺服器/mat 代理伺服器.rst
  frontend/config/index.js
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/robots.txt
  frontend/runtimeConfig.js
Due: build-frontend, build-backend

v1.17.1
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

chore: switch to getServerSideSitemapLegacy in sitemap generation
  frontend/pages/sitemap.xml/index.js
Due: build-frontend

v1.17.2
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

chore: update RelatedSites to use HTTPS URLs
  frontend/config/index.js
Due: build-frontend

v1.17.3
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

chore: add Splitly link to RelatedSites
  frontend/config/index.js
Due: build-frontend

v1.17.4
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

chore: upgrade dependencies and workflow actions, add support for touch events in snapshots
  .github/workflows/build-and-deploy-backend-image.yml
  .github/workflows/build-and-deploy-frontend-image.yml
  CHANGELOG.md
  backend/requirements.txt
  frontend/Dockerfile
  frontend/components/elements/content/Archives/__snapshots__/Archives.spec.js.snap
  frontend/components/elements/content/ArticleList/Pagination/__snapshots__/Pagination.spec.js.snap
  frontend/components/elements/generic/Article/Metadata/__snapshots__/Metadata.spec.js.snap
  frontend/components/elements/generic/Article/__snapshots__/Article.spec.js.snap
  frontend/components/elements/generic/Loading/__snapshots__/Loading.spec.js.snap
  frontend/components/elements/generic/RstContent/__snapshots__/RstContent.spec.js.snap
  frontend/package-lock.json
  frontend/package.json
  frontend/runtimeConfig.js
Due: build-frontend, build-backend

v1.17.5
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

chore: add new article "啪唧分帳" with associated images
  content/articles/啪唧分帳/images/1.png
  content/articles/啪唧分帳/images/2.png
  content/articles/啪唧分帳/images/3.png
  content/articles/啪唧分帳/images/4.png
  content/articles/啪唧分帳/啪唧分帳.rst
Due: build-backend

chore: simplify wording and improve clarity in "啪唧分帳" article
  content/articles/啪唧分帳/啪唧分帳.rst
Due: build-backend

chore: refine wording in "啪唧分帳" article for improved readability
  content/articles/啪唧分帳/啪唧分帳.rst
Due: build-backend

v1.18.0
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

chore: rename "啪唧分帳" article and images to "隨手記 - 啪唧分帳" for consistency
  content/articles/隨手記 - 啪唧分帳/images/1.png
  content/articles/隨手記 - 啪唧分帳/images/2.png
  content/articles/隨手記 - 啪唧分帳/images/3.png
  content/articles/隨手記 - 啪唧分帳/images/4.png
  content/articles/隨手記 - 啪唧分帳/隨手記 - 啪唧分帳.rst
Due: build-backend

v1.18.1
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

Path conditions:
  build-frontend: any of: frontend/**/*, deploy/**/*
  build-backend: any of: backend/**/*, content/**/*, deploy/**/*
