Repository marco79423/mysite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-backend

.gitlab-ci.yml:

image: docker:stable

services:
  - docker:dind

stages:
  - build
  - deploy

build-frontend:
  stage: build
  only:
    changes:
      - frontend/**/*
      - deploy/**/*
  before_script:
    - docker --version
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - BACKEND_SERVER_URL=/backend
  script:
    - docker build
      --file frontend/Dockerfile
      --build-arg REACT_APP_BACKEND_SERVER_URL=$BACKEND_SERVER_URL
      --tag marco79423/mysite-frontend:latest
      .
    - docker push marco79423/mysite-frontend:latest
    - docker tag marco79423/mysite-frontend:latest marco79423/mysite-frontend:$CI_COMMIT_REF_NAME
    - docker push marco79423/mysite-frontend:$CI_COMMIT_REF_NAME
  coverage: '/^Statements\s+: ([\d.]+%)/'

build-backend:
  stage: build
  only:
    changes:
      - backend/**/*
      - content/**/*
      - deploy/**/*
  before_script:
    - docker --version
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - apk update && apk add -U git
    - STATIC_URL=/backend/static/
    - REPO_VERSION=`git describe --tags`
  script:
    - docker build
      --file backend/Dockerfile
      --build-arg STATIC_URL=$STATIC_URL
      --build-arg REPO_VERSION=$REPO_VERSION
      --tag marco79423/mysite-backend:latest
      .
    - docker push marco79423/mysite-backend:latest
    - docker tag marco79423/mysite-backend:latest marco79423/mysite-backend:$CI_COMMIT_REF_NAME
    - docker push marco79423/mysite-backend:$CI_COMMIT_REF_NAME
  coverage: '/^TOTAL\s+\d+\s+\d+\s+(\d+\%)$/'

deploy:
  image: alpine:latest
  stage: deploy
  when: on_success
  before_script:
    - apk add --no-cache curl
  script:
    - curl -X POST -F token=624fc6127e111c5283d4b6469b04b2 -F ref=master https://gitlab.com/api/v4/projects/14652112/trigger/pipeline

更新閱讀計劃
  content/web_pages/閱讀計劃/images/56.jpg
  content/web_pages/閱讀計劃/閱讀計劃.rst
Due: build-backend

移除 .gitlab-ci
  .gitlab-ci.yml
Due: none

新增 build-and-deploy-image.yml
  .github/workflows/build-and-deploy-image.yml
Due: none

限制只有 master 才建 Docker image
  .github/workflows/build-and-deploy-image.yml
Due: none

更新 node 的版本至 12
  frontend/Dockerfile
Due: build-frontend

改寫 github actions 腳本
  .github/workflows/build-and-deploy-backend-image.yml
  .github/workflows/build-and-deploy-frontend-image.yml
Due: none

更新閱讀計劃
  content/web_pages/閱讀計劃/images/57.jpg
  content/web_pages/閱讀計劃/閱讀計劃.rst
Due: build-backend

新增 google adsense 的程式碼
  frontend/public/index.html
Due: build-frontend

修改文章錯字
  content/articles/初探 Mercurial 之女友開發日誌/初探 Mercurial 之女友開發日誌.rst
Due: build-backend

調整文章內容
  content/articles/淺談 JavaScript 的 Promise/淺談 JavaScript 的 Promise.rst
Due: build-backend

調整生命遊戲的圖片
  content/articles/生命遊戲/生命遊戲.rst
Due: build-backend

調整 backend 的版本
  backend/Dockerfile
  backend/requirements.txt
Due: build-backend

新增相關網站的連結
  frontend/src/imports/config/index.js
  frontend/src/imports/ui/blog/components/layout/AppLayout.js
  frontend/src/imports/ui/blog/components/layout/PageMain/PageAside/PageAside.js
  frontend/src/imports/ui/blog/components/layout/PageMain/PageAside/RelatedSites/RelatedSites.js
  frontend/src/imports/ui/blog/components/layout/PageMain/PageAside/RelatedSites/index.js
  frontend/src/imports/ui/blog/components/layout/PageMain/PageMain.js
  frontend/src/imports/ui/blog/containers/AppLayoutContainer/AppLayoutContainer.js
  frontend/src/imports/ui/blog/ducks/config/selectors.js
Due: build-frontend

補上先前的文章
  backend/requirements.txt
  backend/src/imports/domains/blog/use_cases/import_blog_data_use_case.py
  backend/src/imports/domains/blog/use_cases/import_blog_data_use_case_spec.py
  content/articles/mat 代理伺服器/images/1.png
  content/articles/mat 代理伺服器/mat 代理伺服器.rst
  content/articles/傑西神教 jessigod/images/1.jpg
  content/articles/傑西神教 jessigod/傑西神教 jessigod.rst
  frontend/src/imports/config/index.js
Due: build-frontend, build-backend

調整說明
  CHANGELOG.md
  CHANGELOG.rst
  README.md
  README.rst
  logo.png
Due: none

新增 Jessiclient
  content/articles/Jessiclient/Jessiclient.rst
  content/articles/Jessiclient/images/1.jpg
Due: build-backend

更新 react 的版本
  frontend/package.json
  frontend/src/imports/ui/blog/ducks/config/reducer.js
  frontend/src/imports/ui/blog/theme/default.js
  frontend/tsconfig.json
  frontend/yarn.lock
Due: build-frontend

更新 npm package
  frontend/package-lock.json
  frontend/package.json
  frontend/yarn.lock
Due: build-frontend

更新版本和調整 SiteInfoContainer 的寫法
  frontend/package-lock.json
  frontend/package.json
  frontend/src/imports/ui/blog/containers/AppLayoutContainer/AppLayoutContainer.js
  frontend/src/imports/ui/blog/containers/SiteInfoContainer/SiteInfoContainer.js
  frontend/yarn.lock
Due: build-frontend

用 componentDidMount 取代 componentWillMount
  frontend/src/imports/ui/blog/containers/ArchivesContainer/ArchivesContainer.js
  frontend/src/imports/ui/blog/containers/ArticleDetailContainer/ArticleDetailContainer.js
  frontend/src/imports/ui/blog/containers/ArticleListContainer/ArticleListContainer.js
  frontend/src/imports/ui/blog/containers/PageContainer/PageContainer.js
Due: build-frontend

更新 react-router 的版本
  frontend/package-lock.json
  frontend/package.json
  frontend/yarn.lock
Due: build-frontend

調整取得路徑的方式
  frontend/public/img/chicken.png
  frontend/public/img/icon/i-facebook.svg
  frontend/public/img/icon/i-github.svg
  frontend/public/img/icon/i-linkedin.svg
  frontend/public/img/me.jpg
  frontend/src/imports/ui/blog/components/generic/Article/Metadata/Metadata.js
  frontend/src/imports/ui/blog/components/generic/Article/Metadata/__snapshots__/Metadata.spec.js.snap
  frontend/src/imports/ui/blog/components/generic/Article/__snapshots__/Article.spec.js.snap
  frontend/src/imports/ui/blog/components/layout/PageMain/PageAside/AboutMe/AboutMe.js
Due: build-frontend

改變 node 版本，改用 npm
  frontend/Dockerfile
  frontend/package.json
Due: build-frontend

修改網站的標題
  frontend/src/imports/config/index.js
Due: build-frontend

移除 typescript 的支援
  frontend/package-lock.json
  frontend/package.json
  frontend/src/react-app-env.d.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Due: build-frontend

調整 loading 圖片的位置
  frontend/public/img/icon/loading.jpg
  frontend/src/imports/ui/blog/components/content/Archives/__snapshots__/Archives.spec.js.snap
  frontend/src/imports/ui/blog/components/content/Page/__snapshots__/Page.spec.js.snap
  frontend/src/imports/ui/blog/components/generic/Article/__snapshots__/Article.spec.js.snap
  frontend/src/imports/ui/blog/components/generic/Loading/Loading.js
  frontend/src/imports/ui/blog/components/generic/Loading/__snapshots__/Loading.spec.js.snap
Due: build-frontend

更新 python packages 的版本
  backend/requirements.txt
Due: build-backend

調整 manifest.json 的內容
  frontend/public/index.html
  frontend/public/logo.png
  frontend/public/manifest.json
  frontend/src/imports/config/index.js
  frontend/src/imports/ui/blog/components/layout/PageHeader/PageHeader.js
Due: build-frontend

修改 API 回傳的格式
  backend/src/imports/applications/server/routes/blog_backend.py
  frontend/src/imports/ui/blog/ducks/article/saga.js
  frontend/src/imports/ui/blog/ducks/article/saga.spec.js
  frontend/src/imports/ui/blog/ducks/page/saga.js
  frontend/src/imports/ui/blog/ducks/page/saga.spec.js
  frontend/src/imports/ui/blog/ducks/site-info/saga.js
  frontend/src/imports/ui/blog/ducks/site-info/saga.spec.js
Due: build-frontend, build-backend

新增支援取得單筆文章
  backend/src/imports/applications/server/routes/blog_backend.py
  backend/src/imports/domains/blog/repositories.py
  backend/src/imports/domains/blog/use_cases/query_article_use_case.py
  backend/src/imports/infrastructure/domains/blog/repository/article_repository_impl.py
  frontend/src/imports/ui/blog/containers/AppLayoutContainer/AppLayoutContainer.js
  frontend/src/imports/ui/blog/containers/ArticleDetailContainer/ArticleDetailContainer.js
  frontend/src/imports/ui/blog/ducks/article/actionTypes.js
  frontend/src/imports/ui/blog/ducks/article/actions.js
  frontend/src/imports/ui/blog/ducks/article/reducer.js
  frontend/src/imports/ui/blog/ducks/article/reducer.spec.js
  frontend/src/imports/ui/blog/ducks/article/saga.js
  frontend/src/imports/ui/blog/ducks/article/selectors.js
  frontend/src/imports/ui/blog/ducks/article/selectors.spec.js
  frontend/src/imports/ui/blog/ducks/site/selectors.spec.js
Due: build-frontend, build-backend

修正分頁顯示錯誤的問題
  frontend/src/imports/ui/App.js
Due: build-frontend

調整 RstContent 顯示的結果
  backend/src/imports/domains/blog/use_cases/import_blog_data_use_case.py
  frontend/src/imports/ui/blog/components/generic/RstContent/RstContent.js
  frontend/src/imports/ui/blog/containers/AppLayoutContainer/AppLayoutContainer.js
Due: build-frontend, build-backend

新增淺談 REST API 的設計和規劃
  content/articles/淺談 REST API 的設計和規劃/淺談 REST API 的設計和規劃.rst
Due: build-backend

更新 package-lock.json 版本
  frontend/package-lock.json
Due: build-frontend

將 venv 加進 .gitignore
  .gitignore
Due: none

新增修改 CHANGELOG.md
  CHANGELOG.md
Due: none

修訂 淺談 REST API 的設計和規劃 的部分內容
  content/articles/淺談 REST API 的設計和規劃/淺談 REST API 的設計和規劃.rst
Due: build-backend

修改文章內容
  content/articles/淺談 REST API 的設計和規劃/淺談 REST API 的設計和規劃.rst
Due: build-backend
