Repository marco79423/mysite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-frontend, build-backend

.gitlab-ci.yml:

image: docker:stable

services:
  - docker:dind

stages:
  - build
  - deploy

build-frontend:
  stage: build
  only:
    changes:
      - frontend/**/*
      - deploy/**/*
  before_script:
    - docker --version
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - BACKEND_SERVER_URL=/backend
  script:
    - docker build
      --file frontend/Dockerfile
      --build-arg REACT_APP_BACKEND_SERVER_URL=$BACKEND_SERVER_URL
      --tag marco79423/mysite-frontend:latest
      .
    - docker push marco79423/mysite-frontend:latest
    - docker tag marco79423/mysite-frontend:latest marco79423/mysite-frontend:$CI_COMMIT_REF_NAME
    - docker push marco79423/mysite-frontend:$CI_COMMIT_REF_NAME
  coverage: '/^Statements\s+: ([\d.]+%)/'

build-backend:
  stage: build
  only:
    changes:
      - backend/**/*
      - content/**/*
      - deploy/**/*
  before_script:
    - docker --version
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - apk update && apk add -U git
    - STATIC_URL=/backend/static/
    - REPO_VERSION=`git describe --tags`
  script:
    - docker build
      --file backend/Dockerfile
      --build-arg STATIC_URL=$STATIC_URL
      --build-arg REPO_VERSION=$REPO_VERSION
      --tag marco79423/mysite-backend:latest
      .
    - docker push marco79423/mysite-backend:latest
    - docker tag marco79423/mysite-backend:latest marco79423/mysite-backend:$CI_COMMIT_REF_NAME
    - docker push marco79423/mysite-backend:$CI_COMMIT_REF_NAME
  coverage: '/^TOTAL\s+\d+\s+\d+\s+(\d+\%)$/'

deploy:
  image: alpine:latest
  stage: deploy
  when: on_success
  before_script:
    - apk add --no-cache curl
  script:
    - curl -X POST -F token=624fc6127e111c5283d4b6469b04b2 -F ref=master https://gitlab.com/api/v4/projects/14652112/trigger/pipeline

新增淺談 NATS、STAN 和 JetStream 兩三事
  content/articles/淺談 NATS、STAN 和 JetStream 兩三事/images/1.png
  content/articles/淺談 NATS、STAN 和 JetStream 兩三事/images/10.png
  content/articles/淺談 NATS、STAN 和 JetStream 兩三事/images/11.png
  content/articles/淺談 NATS、STAN 和 JetStream 兩三事/images/12.png
  content/articles/淺談 NATS、STAN 和 JetStream 兩三事/images/13.png
  content/articles/淺談 NATS、STAN 和 JetStream 兩三事/images/14.png
  content/articles/淺談 NATS、STAN 和 JetStream 兩三事/images/15.png
  content/articles/淺談 NATS、STAN 和 JetStream 兩三事/images/16.png
  content/articles/淺談 NATS、STAN 和 JetStream 兩三事/images/17.png
  content/articles/淺談 NATS、STAN 和 JetStream 兩三事/images/18.png
  content/articles/淺談 NATS、STAN 和 JetStream 兩三事/images/19.png
  content/articles/淺談 NATS、STAN 和 JetStream 兩三事/images/2.png
  content/articles/淺談 NATS、STAN 和 JetStream 兩三事/images/20.png
  content/articles/淺談 NATS、STAN 和 JetStream 兩三事/images/21.png
  content/articles/淺談 NATS、STAN 和 JetStream 兩三事/images/3.png
  content/articles/淺談 NATS、STAN 和 JetStream 兩三事/images/4.png
  content/articles/淺談 NATS、STAN 和 JetStream 兩三事/images/5.png
  content/articles/淺談 NATS、STAN 和 JetStream 兩三事/images/6.png
  content/articles/淺談 NATS、STAN 和 JetStream 兩三事/images/7.png
  content/articles/淺談 NATS、STAN 和 JetStream 兩三事/images/8.png
  content/articles/淺談 NATS、STAN 和 JetStream 兩三事/images/9.png
  content/articles/淺談 NATS、STAN 和 JetStream 兩三事/淺談 NATS、STAN 和 JetStream 兩三事.rst
Due: build-backend

更新文章
  content/articles/淺談 NATS、STAN 和 JetStream 兩三事/images/10.png
  content/articles/淺談 NATS、STAN 和 JetStream 兩三事/images/14.png
  content/articles/淺談 NATS、STAN 和 JetStream 兩三事/淺談 NATS、STAN 和 JetStream 兩三事.rst
Due: build-backend

更新文章
  content/articles/淺談 NATS、STAN 和 JetStream 兩三事/淺談 NATS、STAN 和 JetStream 兩三事.rst
Due: build-backend

升為 v1.2.0
  .github/workflows/build-and-deploy-backend-image.yml
  .github/workflows/build-and-deploy-frontend-image.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/runtimeConfig.js
Due: build-frontend

升套件版本 解決 ci 問題
  backend/requirements.txt
Due: build-backend

升為 v1.2.1
  frontend/package.json
Due: build-frontend

fix: 修復 archives 頁面的錯誤
  frontend/components/containers/ArchivesContainer/ArchivesContainer.js
  frontend/pages/articles/archives.js
Due: build-frontend

fix: run browserslist@latest --update-db
  frontend/package-lock.json
Due: build-frontend

feat: 更新版本
  frontend/components/elements/generic/Article/Article.js
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

升為 v1.2.2
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

feat: 新增 sitemap 功能
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/sitemap.xml/index.js
Due: build-frontend

升為 v1.3.0
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

feat: 新增 canonical link
  frontend/components/elements/content/ArticleDetail/ArticleDetail.js
  frontend/pages/_app.js
Due: build-frontend

升為 v1.4.0
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

feat: 新增 robots.txt
  frontend/public/robots.txt
Due: build-frontend

升為 v1.5.0
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

fix: 確保所有頁面只有一個 <h1>
  frontend/components/elements/content/Archives/Archives.js
  frontend/components/elements/content/Archives/__snapshots__/Archives.spec.js.snap
  frontend/components/elements/content/ArticleList/Pagination/__snapshots__/Pagination.spec.js.snap
  frontend/components/elements/generic/Article/Article.js
  frontend/components/elements/generic/Article/__snapshots__/Article.spec.js.snap
  frontend/components/elements/generic/Loading/__snapshots__/Loading.spec.js.snap
Due: build-frontend

fix: 額外安裝 jest-environment-jsdom 確保能進行測試
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

chore: 升為 v1.5.1
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

fix: 修正多重 canonical 的問題
  frontend/components/elements/content/ArticleDetail/ArticleDetail.js
  frontend/pages/_app.js
Due: build-frontend

chore: 升為 v1.5.2
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

refactor: 改用 next-lib 取得 canonicalUrl
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.js
Due: build-frontend

chore: 升為 v1.5.3
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

refactor: 調整 import
  frontend/components/elements/content/ArticleDetail/ArticleDetail.js
Due: build-frontend

feat: 調整 meta 資訊
  frontend/components/containers/ArticleDetailContainer/ArticleDetailContainer.js
  frontend/components/elements/content/ArticleDetail/ArticleDetail.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.js
  frontend/pages/_document.js
Due: build-frontend

chore: 升為 v1.6.0
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

feat: 新增封面圖片的功能
  backend/src/imports/domains/blog/entities/article.py
  backend/src/imports/domains/blog/entities/article_spec.py
  backend/src/imports/domains/blog/use_cases/import_blog_data_use_case.py
  backend/src/imports/domains/blog/use_cases/import_blog_data_use_case_spec.py
  backend/src/imports/domains/rst_parser/entities/article.py
  backend/src/imports/infrastructure/domains/blog/model/article_model.py
  backend/src/imports/infrastructure/domains/blog/repository/article_repository_impl.py
  backend/src/imports/infrastructure/domains/rst_parser/adapters/transform_rst_adapter_impl/__init__.py
  content/articles/淺談 NATS、STAN 和 JetStream 兩三事/淺談 NATS、STAN 和 JetStream 兩三事.rst
  frontend/components/elements/content/ArticleDetail/ArticleDetail.js
  frontend/pages/_app.js
Due: build-frontend, build-backend

chore: 升為 v1.7.0
  frontend/package-lock.json
  frontend/package.json
  frontend/runtimeConfig.js
Due: build-frontend

fix: 修復 replaceAll 爆掉的問題
  frontend/Dockerfile
Due: build-frontend

chore: 升為 v1.7.1
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

fix: 使用暫解處理變數的問題
  .github/workflows/build-and-deploy-backend-image.yml
Due: none

chore: v1.7.2
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

feat: 將 twitter 小圖改大圖
  frontend/pages/_app.js
Due: build-frontend

feat: 為文章加上圖設定
  content/articles/Bloom Filter/Bloom Filter.rst
  content/articles/Bloomier Filter/Bloomier Filter.rst
  content/articles/C 語言的專用書推薦 C Programming A Modern Approach/C 語言的專用書推薦 C Programming A Modern Approach.rst
  content/articles/IP Lookup 演算法 - Binary Trie/IP Lookup 演算法 - Binary Trie.rst
  content/articles/IP Lookup 演算法 - DIR-24-8-BASIC/IP Lookup 演算法 - DIR-24-8-BASIC.rst
  content/articles/IP Lookup 演算法 - Multibits Trie/IP Lookup 演算法 - Multibits Trie.rst
  content/articles/Jessiclient/Jessiclient.rst
  content/articles/mat 代理伺服器/mat 代理伺服器.rst
  content/articles/不要點我/不要點我.rst
  content/articles/使用 Python 的生活日常系列 [2] - 超簡易資料分析/使用 Python 的生活日常系列 [2] - 超簡易資料分析.rst
  content/articles/俗辣蟲漫畫下載器 CSsulaBug/俗辣蟲漫畫下載器 CSsulaBug.rst
  content/articles/傑西神教 jessigod/傑西神教 jessigod.rst
  content/articles/初探 Mercurial 之女友開發日誌/初探 Mercurial 之女友開發日誌.rst
  content/articles/字型檢視器/字型檢視器.rst
  content/articles/小說語句搜尋引擎/小說語句搜尋引擎.rst
  content/articles/小雞跳樓梯/小雞跳樓梯.rst
  content/articles/架設個人部落格的心路歷程/架設個人部落格的心路歷程.rst
  content/articles/淺談 regex 及其應用/淺談 regex 及其應用.rst
  content/articles/為什麼 Qt 要有 Signals 和 Slots？/為什麼 Qt 要有 Signals 和 Slots？.rst
  content/articles/生命遊戲/生命遊戲.rst
  content/articles/筆記 - 資料視覺化之理論/筆記 - 資料視覺化之理論.rst
  content/articles/累死雞記帳/累死雞記帳.rst
  content/articles/被 Qt 快樂地玩弄 - 好書推薦/被 Qt 快樂地玩弄 - 好書推薦.rst
Due: build-backend

chore: v1.8.0
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

feat: 將網站改為支援 SSG 模式
  frontend/pages/articles/[slug].js
Due: build-frontend

chore: v1.9.0
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend

chore: 更新套件版本
  backend/requirements.txt
  backend/src/imports/infrastructure/domains/blog/model/asset_model.py
Due: build-backend

chore: 移除非必要的相依套件
  backend/requirements.txt
  backend/src/imports/infrastructure/domains/blog/adapters/truncate_html_adapter_impl.py
  backend/src/imports/infrastructure/domains/rst_parser/adapters/transform_rst_adapter_impl/__init__.py
  backend/src/imports/utils/__init__.py
Due: build-backend

chore: 升為 v1.10.0
  frontend/package-lock.json
  frontend/package.json
Due: build-frontend
